
<h1>Brands</h1>

<%= link_to new_brand_path, class: 'fab-action' do %>
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
    <i class="material-icons">add</i>
  </button>
<% end %>

<table class="mdl-data-table  mdl-data-table--selectable mdl-shadow--2dp full-width">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @brands.each do |brand| %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric"><%= brand.name %></td>
        <td class="mdl-data-table__cell--non-numeric">
          <%= link_to content_tag('i','visibility', class: 'material-icons'), brand %>
        </td>
        <td class="mdl-data-table__cell--non-numeric">
          <%= link_to content_tag('i','edit', class: 'material-icons'), edit_brand_path(brand) %>
        </td>
        <td class="mdl-data-table__cell--non-numeric">
          <%= link_to content_tag('i','delete', class: 'material-icons'), brand, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

