

<% I18n.with_options(scope: 'activerecord.attributes.brand') do |i18n| %>
   <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp full-width">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric"><%= i18n.t :name %></th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class="mdl-data-table__cell--non-numeric"><%= @brand.name %></td>
          <td class="mdl-data-table__cell--non-numeric">
            <%= link_to content_tag('i','edit', class: 'material-icons'), edit_brand_path(@brand) %>
          </td>
          <td class="mdl-data-table__cell--non-numeric">
            <%= link_to content_tag('i','delete', class: 'material-icons'), @brand, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      </tbody>
    </table>
<% end %>

<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %>
