
<%= form_with(model: shoe, local: true, multipart: true)  do |form| %>
  <% if shoe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shoe.errors.count, "error") %> prohibited this shoe from being saved:</h2>

      <ul>
      <% shoe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mdl-textfield mdl-js-textfield">
    <%= form.label :model , :class => "textfield__label" %>
    <%= form.text_field :model, id: :shoe_model, :class=> "mdl-textfield__input" %>
  </div>

  <div class="field mdl-textfield mdl-js-textfield">
    <%= form.label :brand , :class => "textfield__label" %>
    <%= form.collection_select :brand_id, Brand.all, :id, :name, prompt: true %>
  </div>

  <div class="field mdl-textfield mdl-js-textfield">
    <%= form.label :isbn , :class => "textfield__label" %>
    <%= form.text_field :isbn, id: :shoe_isbn, :class=> "mdl-textfield__input" %>
  </div>

  <div class="field mdl-textfield mdl-js-textfield">
    <%= form.label :release_year , :class => "textfield__label" %>
    <%= form.number_field :release_year, id: :sho, :_year=> "mdl-textfield__input" %>
  </div>

  <div class="field mdl-textfield mdl-js-textfield">
    <%= form.label :sku , :class => "textfield__label" %>
    <%= form.number_field :sku, id: :shoe_sku, :class=> "mdl-textfield__input" %>
  </div>
  <div class="field mdl-textfield mdl-js-textfield">
    <%= form.label :photo , :class => "textfield__label" %>
    <%= form.file_field :photo %>
  </div>
  <% if shoe.photo_file_name != nil %>
    <img src="<%= shoe.photo.url(:thumb) %>" />
  <% end %>

  <div class="actions">
    <%= form.submit nil, :class=> "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
  </div>
<% end %>
